/* CSS STYLES */

.container {
	max-width: 960px;
}

header > .row-fluid {
	max-width: 960px;
	margin: 0 auto;
}

hgroup > img {
	margin: 0 0 10px -10px;
}

#untangled-content > .row-fluid {
	max-width: 800px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
}

.boxes > h1 {
	text-align: center;
	margin-left: -80px;
}

.boxes > h5 {
	text-align: center;
}

#about {
	max-width: 1100px;
	margin: 0 auto;
}

img.square {
	border: 5px solid #fff;
	-webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 2	0px 0px rgba(0,0,0,0.2);
}

.example {
	margin-bottom: 20px;
}

.example > article {
	margin-top: 15px;
}

.info {
	margin: 10px 30px 20px 0;
	float: left;
	width: 200px;
	background-color: #ececec;
	padding: 20px;
	border-radius:10px;
}

.post-title {
	margin-bottom: 20px;
}

.timestamp {
	color: #ca4d1d;
	text-transform: uppercase;
	font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.post-meta.meta-bottom {
	font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.bio {
	text-transform: none;
	margin-top: 10px;
	line-height: 20px;
	font-style: italic;
}

@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
	.compact .logo-mark.xl {
		font-size: 50px;
	}
	.boxes > h1 {
		margin-left: 0;
	}
}