{# ---------------------------------- #}
{# - blueline_head()  #}
{# ---------------------------------- #}
{% macro blueline_head() -%}
<!-- IE -->
<link rel="shortcut icon" type="image/x-icon" href="http://blueline.knightlab.com/assets/logos/favicon.ico" /> 
<!-- other browsers -->
<link rel="icon" type="image/x-icon" href="http://blueline.knightlab.com/assets/logos/favicon.ico" />
<!-- Optional: Knight Lab webfonts -->
<link href="//cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css" rel="stylesheet" type="text/css">
<!-- Note: You must include the Blueline CDN stylesheet -->
<link rel="stylesheet" href="//cdn.knightlab.com/libs/blueline/latest/css/blueline.min.css">
{% endmacro %}

{# ---------------------------------- #}
{# - analytics()  #}
{# ---------------------------------- #}
{% macro analytics() -%}
<!-- Google Analytics: don't mess with this stuff -->
<!-- named tracker notes from https://developers.google.com/analytics/devguides/collection/gajs/ -->
<!-- multi-domain tracking notes from https://developers.google.com/analytics/devguides/collection/gajs/gaTrackingSite -->
<script>
var _gaq = _gaq || [];
_gaq.push(
          function() {
              var pageTracker = _gat._createTracker('UA-27829802-1', 'knightlabTracker');
           },
          ['knightlabTracker._setDomainName', 'knightlab.com'] // DON'T CHANGE THIS FOR SUBDOMAINS
          ['knightlabTracker._setAllowLinker', true], 
          ['knightlabTracker._trackPageview']
);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End Google Analytics -->
{%- endmacro %}

{# ---------------------------------- #}
{# - navbar()  #}
{# ---------------------------------- #}
{% macro navbar(page=None) -%}
<!-- BEGIN HEADER -->

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
      <a href="/" class="brand active">Untangled</a>
      <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
        <ul class="nav"> 
          <li {% if page == 'tools' %}class='active'{% endif %}><a href="tools.html">Tools</a></li>
          <li {% if page == 'stories' %}class='active'{% endif %}><a href="stories.html">Investigations</a></li>
          <li {% if page == 'learn' %}class='active'{% endif %}><a href="learn.html">Readings</a></li>
          <li {% if page == '#about' %}class='active'{% endif %}><a href="/index.html#about">About</a></li>
        </ul> 
        <ul class="nav pull-right">
          <li class="knightlab-tab"><a data-toggle="preheader" href="http://knightlab.northwestern.edu" title="Northwesten University Knight Lab"><span>Northwestern University Knight Lab</span></a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
<!-- END HEADER -->
{%- endmacro %}
