{% import '_macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Charting Social Network Analysis Tools{% endblock %}</title>
  {{ macros.blueline_head() }}
  {{ macros.analytics() }}
</head>
<body>

  {% block navbar %}{{ macros.navbar() }}{% endblock %} 

  <!-- BEGIN CONTENT -->
  <div id="content" class="container">
    {% block content %}
      <div class="example row-fluid">
        <div class="span12 info">
          <h1 class="post-title">Charting Social Network Analysis Tools</h1>
          <div class="post-meta meta-bottom">
            <span class="meta-prep meta-prep-author">Posted on</span> <a class="posted" href="http://knightlab.northwestern.edu/2013/12/10/the-master-conductor-product-management-in-journalism/" title="1:18 am" rel="bookmark"><span class="timestamp">December 10, 2013</span></a> <span class="meta-sep">Posted by</span> <a href="http://knightlab.northwestern.edu/author/jessica-soberman/" title="Posts by Jessica Soberman" rel="author">Jessica Soberman</a>
          </div>
        </div>
       
      <p>Working on <a href="http://pudo.org/#code">different open data projects</a> throughout the last years, I kept coming back to the idea that there should be an intermediate layer for analyzing and contextualizing data. Such a system would help researchers, journalists and other non-technical users to extract knowledge from a variety of sources. It would enable them to generate an overview of how the people, institutions and companies that are part of virtually any data from a political or economic context relate to each other.</p>
      <p>The <a href="http://www.mediaparty.info/">Hacks/Hackers Media Party</a> in Buenos Aires this year was an event designed to bring together developers and reporters and to discuss what technology can do to enable better journalism. After a session on network analysis where we explored the many existing and emerging tools and platforms I started an ongoing collection of initiatives related to this topic.</p>
      <p><a href="https://docs.google.com/spreadsheet/ccc?key=0AplklDf0nYxWdFhmTWZUc0o0SzAzMkRuMTZCUVBVeHc&amp;usp=drive_web#gid=0">The survey</a> focuses on a short description of the projects, distinguishing between a few basic types of efforts (libraries and tools, web platforms, desktop software or data standards), and linking out to the project pages and any available documentation. Since I'm interested in reusing these tools, I also introduced two columns to mark up which tools were open source, and which content (i.e. The network data itself) was <a href="http://opendefinition.org/">licensed openly</a>.</p>
      <p>What fascinates me most about this survey is that it reflects the range of objectives and methods that people have started to explore within the field of network analysis. From visualization tools such as <a href="http://sigmajs.org/">sigma.js</a> and <a href="https://immersion.media.mit.edu/">Immersion</a> to data-mining projects like <a href="http://mapa76.info/">Mapa76</a> and from commercial apps such as <a href="http://connectedchina.reuters.com/">ConnectedChina</a> to open standards such as the <a href="http://popoloproject.com/">Popolo Project</a> and <a href="https://github.com/poderopedia/PoderVocabulary">PoderVocabulary</a>, people are experimenting wildly. Some of the tools listed have little in common with each other, while others are nearly exact copies of each other, written in a different programming language or using different database backends.</p>
      <p>Based on this survey, it seems to me that there are a few efforts that could benefit many of the approaches that people seem to be working on:</p>
      <ul>
      <li><p><strong>Converge on APIs for web tools. </strong> For web-based platforms, there are many reasons why each power mapping effort would want to have a bespoke interface to represent their data in an appropriate form. Yet many of these efforts could easily share a common API and back-end. The fact that this hasn't happened yet, even though many of the initiatives are clearly aware of each other, is most likely owed to the lack of maturity in existing projects.</p></li>
      <li><p><strong>Develop clearer interaction models. </strong> For most of the content-centric efforts in the list, it's not really clear what one would <em>do</em> with them. While sites like <a href="http://poderopedia.org/">Poderopedia</a> and <a href="http://quienmanda.es/">QuienManda</a> allow users to contribute further information about relationships and connections, there is little explanation as to when and how one would get information out of them.</p></li>
      <li><p><strong>Link people and organizations across different databases. </strong> Being able to identify a single person across multiple databases would be a useful way to support investigations and to work towards further forms of interoperability in the future. Unfortunately, few of the people and companies in such databases meet the relevancy criteria of Wikipedia (and <a href="http://dbpedia.org/About">dbPedia</a>), or appear in other authority data.</p></li>
      <li><p><strong>Package platforms for news organizations. </strong> While embedded as an <a href="http://opennews.org/">OpenNews</a> fellow at <a href="http://spiegel.de">Spiegel Online</a>, I tried to set up a network mapping platform for the organization’s fact-checking team. Unfortunately, doing this is no simple task, since most packages have a variety of hard-coded settings and do not lend themselves to easy redeployment. Given the sensitive nature of some of the information that may go into such a system, Software-as-a-Service doesn't seem like an appropriate solution to me.</p></li>
      </ul>
      <p>I'm sure that some of the tools in the survey will make big steps towards these challenges in the next year, so this is a fantastic time to play with network analysis tools. As part of this, I'm hoping to keep the project listing up to date, so please feel free to add initiatives directly <a href="https://docs.google.com/spreadsheet/ccc?key=0AplklDf0nYxWdFhmTWZUc0o0SzAzMkRuMTZCUVBVeHc&amp;usp=drive_web#gid=0">into the Spreadsheet</a>, and email the Knight Lab or me with any suggestions!</p>
    </div>
    {% endblock %}
  </div>
  <!-- END CONTENT-->

  <!-- BEGIN FOOTER -->
  <footer>
    <div class="clearfix" id="footer">
      <div id="footer-wrapper" class="row-fluid">           
        <div class="span4">
          <address itemtype="http://data-vocabulary.org/Organization" itemscope="">
            <span title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name" itemprop="name">Knight Lab</span>
            <span itemtype="http://data-vocabulary.org/Address" itemscope="" class="address" itemprop="address">
              <span class="street-address" itemprop="street-address">1845 Sheridan Road<br>Fisk #109 &amp; #111</span>, 
              <div class="address-group">
                <span itemprop="locality">Evanston, </span>
                <span itemprop="region">IL</span>. <span itemprop="postal-code">60208</span>
                <a class="map" target="_blank" href="https://maps.google.com/maps?q=1845+Sheridan+Road+Evanston+IL+6020&amp;hl=en&amp;ll=42.050942,-87.673511&amp;spn=0.003059,0.004898&amp;sll=42.050647,-87.674246&amp;sspn=0.012237,0.019591&amp;gl=us&amp;hnear=1845+Sheridan+Rd,+Evanston,+Cook,+Illinois+60201&amp;t=m&amp;z=18&amp;iwloc=A"><i>+</i> <span>map</span></a>
                <span class="address-country" itemprop="country-name">United States</span>
              </div>
            </span>
            <span itemtype="http://www.data-vocabulary.org/Geo/" itemscope="" class="geo" itemprop="geo">
                Latitude: <span itemprop="latitude">42.056893</span>
                Longitude: <span itemprop="longitude">-87.676735</span>
            </span>
            <span class="tel" itemprop="tel">(847) 467-4971</span>
            <a itemprop="url" href="http://knightlab.northwestern.edu" class="url">Northwesten University Knight Lab | Advancing media innovation through exploration and experimentation.</a> 
          </address>
          <ul class="social">
            <li><a target="_blank" title="follow @knightlab on twitter" href="http://www.twitter.com/knightlab"><i class="icon-twitter-sign icon-large"></i></a></li>
            <li><a target="_blank" title="Knight Lab on Facebook" href="https://www.facebook.com/knightlab"><i class="icon-facebook-sign icon-large"></i></a></li>
            <li><a title="email Knight Lab" href="mailto:Knightlab@northwestern.edu"><i class="icon-sign-blank icon-large iconemail"></i></a></li>
            <li><a target="_blank" title="Knight Lab on github" href="https://github.com/NUKnightLab/"><i class="icon-github-sign icon-large"></i></a></li>
            <li><a target="_blank" title="Knight Lab on Tumblr" href="http://knightlab.tumblr.com/"><i class="icon-sign-blank icon-large icontumblr"></i></a></li>
          </ul>
        </div>
        <div class="span8">
         <ul class="logos clearfix">
           <li><a title="John S. and James L. Knight Foundation" href="http://www.knightfoundation.org/" class="knightfoundation"><span>John S. and James L. Knight Foundation</span></a></li>
            <li><a title="National Science Foundation" href="http://www.nsf.gov/" class="nsf"><span>National Science Foundation</span></a></li>
            <li><a title="Robert R. McCormick Foundation" href="http://www.mccormickfoundation.org/" class="mccormickfound"><span>Robert R. McCormick Foundation</span></a></li>
            <li><a title="Northwestern University" href="http://www.northwestern.edu/" class="northwestern"><span>Northwestern University</span></a></li>
            <li><a title="McCormick School of Engineering | Northwestern University" href="http://www.mccormick.northwestern.edu/" class="mccormick"><span>McCormick School of Engineering | Northwestern University</span></a></li>
            <li><a title="Medill School of Journalism | Northwestern University" href="http://www.medill.northwestern.edu" class="medill"><span>Medill School of Journalism | Northwestern University</span></a></li>
          </ul>
          <div class="notes">
            <p><a target="_blank" href="http://www.northwestern.edu/" title="Northwestern University">Northwestern University</a> Knight Lab is a joint initiative of the <a href="http://www.mccormick.northwestern.edu/">Robert R. McCormick School of Engineering and Applied Science</a> and the<a href="http://www.medill.northwestern.edu/"> Medill School of Journalism, Media, Integrated Marketing Communications</a>.</p>
            <p>The Lab was launched and is sustained by a grant from the<a href="http://www.knightfoundation.org/"> John S. and James L. Knight Foundation</a>, with additional support from the<a href="http://www.mccormickfoundation.org/"> Robert R. McCormick Foundation</a> and the<a href="http://www.nsf.gov/"> National Science Foundation</a>.</p>
          </div>
        </div>
        <div class="copyright">
          &copy; Copyright 2013 <span title="Knight Lab">Northwestern University</span>
        </div>
      </div><!-- end #footer-wrapper -->
    </div><!-- end #footer -->
    <div id="footer-outer"></div>
  </footer>
  <!-- END FOOTER -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdn.knightlab.com/libs/blueline/latest/js/blueline.min.js"></script>
  
</body>
</html>