{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>Spheres of Influence</h1>
<p><b>Organization:</b> Washington Post</p>
<p><b>Date:</b> May 16, 2004</p>
<p><b>Contributors:</b> Thomas B. Edsall, Sarah Cohen and James V. Grimaldi, Mike Allen, Alice Crites contributed to this report. </p>
<p><b>Online:</b> http://www.washingtonpost.com/wp-srv/politics/pioneers/pioneers_spheres.html</p>
<p><b>Description:</b> The Post analyzed networks of campaign contributors among "Bush Pioneers," the biggest donors to George Bush's election campaign in 2004.   The key finding was that XXXX.  The version of the story published in the print edition included a network diagram of the top contributors; the online version included a clickable, interactive version of the graphic.</p>
<p><img src="{{ static_url }}/img/se.jpg" width="400" height="400"></p>
      </div>
    </div>
{% endblock %}
