{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>Spheres of Influence</h1>
<p><b>Organization</b> Washington Post</p>
<p><b>Date</b> May 16, 2004</p>
<p><b>Contributors</b> Thomas B. Edsall, Sarah Cohen and James V. Grimaldi, Mike Allen, Alice Crites contributed to this report. </p>
<p><b>Online</b> http://www.washingtonpost.com/wp-srv/politics/pioneers/pioneers_spheres.html</p>
<p><b>Screenshot</b>
      </div>
    </div>
{% endblock %}
