{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>Examples Page</h1>
        <p>{{ "some literal *markdown*"|markdown }}</p>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <h2><a href="toolexamples.html">Tool Examples</a></h2>
        <p>This is an example static template. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <ul>
          <li>Lions</li>
          <li>Tigers</li>
          <li>Bears</li>
          <li>Oh, my!</li>
        </ul>
      </div>        
      <div class="span4">
            <h2><a href="storyexamples.html">Story Examples</a></h2>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
    </div>
{% endblock %}
