{% extends "base.html" %}
{% block content %}
examples yo
<img src="http://placekitten.com/g/200/200" width="200" height="200">
<img src="http://placekitten.com/g/200/200" width="200" height="200">
<img src="http://placekitten.com/g/200/200" width="200" height="200">
<img src="http://placekitten.com/g/200/200" width="200" height="200">
<img src="http://placekitten.com/g/200/200" width="200" height="200">
<a href="/tools.html"><img src="{{ static_url }}/img/salute.jpg" width="200" height="200"></a>

{% endblock %}
