{% extends "base.html" %}

{% block title %}Untangled: Investigations{% endblock %}
{% block navbar %}{{ macros.navbar() }}{% endblock %}

{% import '_macros.html' as macros %}
{% block header %}
<header id="overview" class="hero-unit compact">
      <div class="row-fluid">
        <hgroup class="span12">
          <img src="{{ static_url }}/img/icon_telescope.png" width="120">
          <h1 class="logo-mark xl">Untangled</h1>
          <h2 class="intro">Social Network Analysis for Journalism</h2>
        </hgroup>
       <p>Analyzing social networks has always been fundamental to journalism. 
       New technology makes it even easier. Untangled will help you understand it.</p>
      </div>
  </header>
{% endblock %}
{% block content %}
  <!-- BEGIN CONTENT -->
  
  <div id="untangled-content" class="container">
    <div class="row-fluid" style="margin-top: 40px;">
      <div class="span12 boxes">
        <h1><a href="tools.html"><img src="{{ static_url }}/img/icon_search.png" width="80">Tools</a></h1>
        <h5>Search tools and databases to do your own network analysis</h5>
      </div>
    </div>
    <div class="row-fluid" style="margin-top: 40px;">
      <div class="span12 boxes">
        <h1><a href="investigations.html"><img src="{{ static_url }}/img/icon_binoculars.png" width="80">&nbsp;Investigations</a></h1>
        <h5>Explore stories and news apps based on network analysis</h5>
      </div>
    </div>
    <div class="row-fluid" style="margin-top: 40px;">
      <div class="span12 boxes">
        <h1><a href="readings.html"><img src="{{ static_url }}/img/icon_glasses.png" width="65">&nbsp;&nbsp;Readings</a></h1>
        <h5>Learn more through original case studies and suggested books and articles</h5>
      </div>
    </div>  
  </div>

  <div class="row-fluid" style="margin-top: 65px; margin-bottom: 40px;" id="about">
      <h2>About this site</h2>
      <div class="row-fluid">
        <div class="span6">
          <p>Social network analysis (SNA) is the analysis of relationships among entities including people, places and organizations. SNA can help journalists analyze relationships, visualize connections and understand central figures in a story. The Knight Lab's Untangled initiative aims to unite communities interested in the application of SNA to journalism. This could include analysts, journalists, programmers... anyone.</p>
        </div>
        <div class="span1"></div>
        <div class="span5">
          <p>This initiative needs your participation and feedback to evolve. We want your ideas, input and contributions. Please email us at <a href="mailto:knightlab@northwestern.edu?subject=Untangled%20Tool%20suggestion">knightlab@northwestern.edu</a>!
         </div>

    </div>
  </div>


  <!-- END CONTENT-->
{% endblock %}
