{% extends "base.html" %}

{% block title %}Untangled: Investigations{% endblock %}
{% block navbar %}{{ macros.navbar('investigations') }}{% endblock %}

{% block content %}
<div class="example row-fluid">
  <h1><img src="{{ static_url }}/img/icon_binoculars.png" width="80">&nbsp;Investigations</h1>
  <p>We're cataloguing existing investigations that use network analysis. Have another one we should include? Email us at <a href="mailto:knightlab@northwestern.edu?subject=Untangled%20Investigation%20suggestion">knightlab@northwestern.edu</a></p>
</div>
 <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://graphics.latimes.com/calderon/"> Calderon Family Connections</a> (2013)</h5>
       <p>The LA Times discovered the connections of the Southern Californian Calderon family, now under investigation by the FBI. The connections include Campaign money, Legislation and Consulting. Connections are color coded and tracked through the directions of arrows.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/galleon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://online.wsj.com/public/resources/documents/Galleons-Web.html">Galleon's Web</a> (2011)</h5>
       <p>After hedge fund management firm Galleon Group closed in 2009, co-founder Raj Rajaratnam was found guilty of all charges against him in an insider trading case. The Wall Street Journal created a series of interactives to help show the relationships between Raj Rajaratnam and the people involved in his case.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/secret.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://projects.washingtonpost.com/top-secret-america/network/#/overall/most-activity/">Top Secret America</a> (2010)</h5>
       <p>More than 20 Washington Post journalists conducted a two-year investiation into the government's national security response to 9/11 by compiling hundreds of thousands of public records of covernment organizations and private-sector companies.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/stemcell.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="www.newscientist.com/article/mg20627643.700-paper-trail-inside-the-stem-cell-wars.html">The Stem Cell Wars</a> (2010)</h5>
       <p>This investigation evaluates the peer review proccess for leading scientific journals. New Scientist investigated the publication proccess in the area of stem cell research or cellular reprogramming. The infographic determines teh relationship between the most influential players in this field of study and paper citations.</p>
    </article>
  </div>
   <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/flip.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://projects.heraldtribune.com/investigateflip/investigateflip.html">Flip Investigation</a> (2009)</h5>
       <p>The Herald-Tribune conducted an investigation into the housing-bubble burst of 2008. The paper analyzed more than 19 million Florida real estate transactions to determine how flipped homes help contribute to the financia crisis.</p>
    </article>
  </div>
   <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/paulson.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://www.propublica.org/special/degrees-of-hank-paulson">Degrees of Hank Paulson</a> (2008)</h5>
       <p>ProPublica's interactive shows how former Secretary of the Treasury Henry "Hank" Paulson is related to Wall Street CEOs</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/influence.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://www.dallasnews.com/sharedcontent/dws/graphics/0109/influence/">Web of Influence</a> (2004)</h5>
       <p>The Dallas Morning News' dallasnews.com, created this interactive to show how power and influence in Austin, Texas helped influence House Bill 2292.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/Bushwapo.jpg" width="200" height="300"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://www.washingtonpost.com/wp-srv/politics/pioneers/pioneers_spheres.html"> Spheres of Influence: The Bush Campaign Pioneers</a> (2004)</h5>
       <p>The Washington Post investigation analyzed the biggest donors to George Bush's 2004 election campaign.</p>
    </article>
  </div>
</div>
{% endblock %}
