{% extends "base.html" %}
{% block title %}Untangled: Readings{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>Readings</h1>

        <p>We're producing original articles about SNA in journalism and suggesting related books and articles. Is there something that should be here that isn't? Let us know and send an email to sobermanj@u.northwestern.edu </p>
    
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h2>Articles</h2>
        <p></p>
        <ul>
          <li>Charting Social Network Analysis Tools</li>
                  </ul>
      </div>        
      <div class="span6">
            <h2>Suggested Reading</h2>
                <p></p>
        <ul>
          <li><a href= "http://www.amazon.com/Linked-The-New-Science-Networks/dp/0738206679"> The New Science of Networks </a>, Albert-laszlo Barabasi, Jennifer Frangos</li>
          <li><a href= "http://source.opennews.org/en-US/articles/network-diagrams-hard/">Network Diagrams are hard</a>, Alyson Hurt</li>

          <li><a href= "http://journals.uic.edu/ojs/index.php/fm/article/view/941/863"> Uncloaking Terrorist Networks</a>, Valdis E. Krebs</li>
          <li><a href= "http://www.nytimes.com/2006/03/12/magazine/312wwln_essay.html"> Can Network Theory Thwart Terrorists</a>, Patrick Radden Keefe</li>
           <li><a href= "http://www.amazon.com/Analyzing-Social-Networks-Stephen-Borgatti/dp/1446247414"/>Analyzing Social Networks</a>, S.P. Borgatti, M.G. Everett, J.C> Johnson</li>
        
        </ul>
      </div>
    </div>
{% endblock %}
