{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>Read More</h1>

        <p>The lab is publishing new content and curating old, so that you can learn more about network analysis and how other people are researching in this area.</p>
    
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h2>Articles</h2>
        <p></p>
        <ul>
          <li>Application of Neo4J to Middle-Eastern Terrorists</li>
          <li>How and Why I built a Network Analysis Tool Matrix</li>
          <li>Hand coding infographics of networks</li>
          <li>We don't know what we don't know</li>
        </ul>
      </div>        
      <div class="span6">
            <h2>Suggested Reading</h2>
                <p></p>
        <ul>
          <li>book1 </li>
          <li>article2</li>
        </ul>
      </div>
    </div>
{% endblock %}
