{% extends "base.html" %}

{% block title %}Untangled: Investigations{% endblock %}
{% block navbar %}{{ macros.navbar('stories') }}{% endblock %} 

{% block content %}
<div class="example row-fluid">
        <h1>Investigations</h1>
  <p>We're cataloguing existing investigations that use network analysis. Have another one we should include? Email us at sobermanj@u.northwestern.edu</p>
</div>
<div class="example row-fluid">
  <!-- NOTE: These columns do not add up to 12 because the Bootstrap 'well's' padding isn't taking into account by the responsive grid. -->
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/Bushwapo.jpg" width="200" height="300"></img>
    </figure>
  
    <article class="span9">
       <h5>Bush Spheres of Influence</h5>
       <p>"The Post analyzed networks of campaign contributors among 'Bush Pioneers', the biggest donors to George Bush's election campaign in  2004. The version of the story  published in the print edition included a network diagram of the top  contributors; the online version included a clickable, interactive  version of the graphic."</p>
    </article>
  </div>
  <div class="example row-fluid">
  <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>Calderon Family Connections</h5>
       <p>The LA Times discovered the connections of the Southern Californian Calderon family, now under investigation by the FBI. The connections include Campaign money, Legislation and Consulting. Conncetions are color coded and tracked through the directions of arrows.</p>
    </article>
     
  </div>
</div>
{% endblock %}
