{% extends "base.html" %}
{% block content %}
<div class="example row-fluid">
        <h1>Stories</h1>
  <p>Campaign contributions.  Insider trading.  Conflicts of interest.  Connections among football coaches or corporate boards of directors.</p>
  <p> All are topics that require journalists to understand and analyze relationships among people, businesses or organizations.</p>
  <p>We've gathered some notable examples of stories that have used network analysis.</p>
</div>
<div class="example row-fluid">
  <!-- NOTE: These columns do not add up to 12 because the Bootstrap 'well's' padding isn't taking into account by the responsive grid. -->
    <figure class="span3">
      <a href="bushwapo.html"><img src="{{ static_url }}/img/bushwapo.jpg" width="200" height="300"></a>
    </figure>
  
    <article class="span8">
       <h5>Bush Spheres of Influence</h5>
       <p>Powder gummies fruitcake lemon drops. Liquorice chocolate cotton candy apple pie. Cake chupa chups sugar plum cheesecake halvah tart. Liquorice bear claw dessert soufflé marzipan. Applicake cotton candy candy brownie dragée marzipan jujubes sweet roll cookie. Powder biscuit fruitcake. Macaroon marshmallow donut marzipan jujubes.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <article class="span8">
       <h5>Calderon Family Connections</h5>
       <p>Applicake carrot cake icing. Pie soufflé applicake applicake chupa chups. Jelly beans fruitcake jelly. Toffee dessert bear claw chocolate bar icing oat cake. Liquorice cotton candy chocolate cake candy pie marzipan jelly. Jelly beans gummies topping. Fruitcake jelly cookie jelly-o jelly topping jelly carrot cake. Jelly ice cream carrot cake. Jelly beans liquorice fruitcake. Sweet tiramisu marshmallow bonbon applicake icing chocolate cake jelly beans.</p>
    </article>
     <figure class="span3">
      <a href="calderon.html"><img src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></a>
    </figure>
  </div>
</div>
{% endblock %}
