{% extends "base.html" %}
{% block content %}
<div class="span12">
        <h1>Story Examples</h1>
  <p>Campaign contributions.  Insider trading.  Conflicts of interest.  Connections among football coaches or corporate boards of directors. All are topics that require journalists to understand and analyze relationships among people, businesses or organizations. We've gathered some notable examples of stories that have used network analysis.</p>
</div>
<div class="span12 images" style="margin-left: 60px">
<a href="/E1.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
<a href="/tools.html"><img src="{{ static_url }}/img/se.jpg" width="200" height="200"></a>
</div>
{% endblock %}
