{% extends "base.html" %}

{% block title %}Untangled: Tools{% endblock %}
{% block navbar %}{{ macros.navbar('tools') }}{% endblock %} 

{% block content %}
<div class="example row-fluid">
         <h1>Tools</h1>
  <p>Collecting data.  Storing information. Finding connections. Displaying those findings. We've gathered some notable tools that facilitate the proccess of network analysis in journalism.</p>
</div>
<div class="example row-fluid">
  <!-- NOTE: These columns do not add up to 12 because the Bootstrap 'well's' padding isn't taking into account by the responsive grid. -->
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/Neo4j.jpg" width="200" height="300"></img>
    </figure>
  
    <article class="span9">
       <h5>Neo4J</h5>
       <p>Neo4J is a graph database that allows users to "ask and answer" data questions. It is a databse that allows you to model, store, and query data in the form of a graph with nodes and relationships that you can attach properties to. After structuring your graph you can query it. The data modeling experience aims to be simple and attempts to let users build a graph model that looks like the questions you want to ask of your domain.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>Calderon Family Connections</h5>
       <p>The LA Times discovered the connections of the Southern Californian Calderon family, now under investigation by the FBI. The connections include Campaign money, Legislation and Consulting. Conncetions are color coded and tracked through the directions of arrows.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>Calderon Family Connections</h5>
       <p>The LA Times discovered the connections of the Southern Californian Calderon family, now under investigation by the FBI. The connections include Campaign money, Legislation and Consulting. Conncetions are color coded and tracked through the directions of arrows.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>BM® i2® Analyst's Notebook®</h5>
       <p>"IBM® i2® Analyst's Notebook® is a data analysis and visualization environment that enables government agencies and private sector businesses to maximize the value of the mass of information that they collect. It allows analysts to quickly collate, analyze and visualize data from disparate sources. It reduces the time required to discover key information in complex data and to deliver timely, actionable intelligence to help identify, predict, prevent, and disrupt criminal, terrorist, and fraudulent activities."</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>Gephi</h5>
       <p>Gephi is "an open-source software for network visualization and analysis. It helps data analysts to intuitively reveal patterns and trends, highlight outliers and tells stories with their data. It uses a 3D render engine to display large graphs in real-time and to speed up the exploration. Gephi combines built-in functionalities and flexible architecture to: explore, analyze, spatialize, filter, cluterize, manipulate and export all types of networks.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>NodeXL</h5>
       <p>"NodeXL is a free, open-source template for Microsoft® Excel® 2007, 2010 and (possibly) 2013 that makes it easy to explore network graphs.  With NodeXL, you can enter a network edge list in a worksheet, click a button and see your graph, all in the familiar environment of the Excel window."</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/calderon.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5>UCINet</h5>
       <p>"UCINET 6 for Windows is a software package for the analysis of social network data."
       </p>
    </article>
  </div>
</div>
{% endblock %}
