{% extends "base.html" %}
{% block content %}
<div class="span12">
        <h1>Tool Examples</h1>
  <p>Collecting data.  Storing information. Finding connections. Displaying those findings. We've gathered some notable tools that facilitate the proccess of network analysis in journalism.</p>
</div>
<div class="span12 images" style="margin-left: 60px">
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
<a href="/E1.html"><img src="{{ static_url }}/img/te.jpg" width="200" height="200"></a>
</div>
{% endblock %}
