{% extends "base.html" %}
{% block content %}
<div class="example row-fluid">
        <h1>Tools</h1>
  <p>Collecting data.  Storing information. Finding connections. Displaying those findings. We've gathered some notable tools that facilitate the proccess of network analysis in journalism.</p>
</div>
<div class="example row-fluid">
  <!-- NOTE: These columns do not add up to 12 because the Bootstrap 'well's' padding isn't taking into account by the responsive grid. -->
    <figure class="span3">
      <a href="neo4j.html"><img src="{{ static_url }}/img/neo4j.jpg" width="300" height="300"></a>
    </figure>
  
    <article class="span8">
       <h5>Neo4j</h5>
       <p>neo 4j yah Lorizzle ipsum dolor sit amizzle, consectetuer adipiscing elit. Mammasay mammasa mamma oo sa hizzle fo shizzle, aliquet volutpizzle, suscipit quis, gravida vizzle, fizzle. Pellentesque eget tortizzle. Sizzle eros. Boom shackalack izzle away dapibizzle turpis bizzle sizzle. Maurizzle pellentesque nibh mammasay mammasa mamma oo sa turpizzle. Yo mamma izzle tortor. Pellentesque eleifend rhoncizzle bizzle. Fo shizzle my nizzle the bizzle fizzle doggy dictumst. Its fo rizzle dapibizzle. You son of a bizzle tellizzle mah nizzle, pretium ghetto, mattis , eleifend uhuh ... yih!, nunc. Fizzle suscipit. Integer semper i saw beyonces tizzles and my pizzle went crizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle yo mamma.</p>
    </article>
  </div>
  <div class="example row-fluid">
   
    <article class="span8">
       <h5>Gephi</h5>
       <p>ohhh gephi Etizzle own yo' magna sed augue hendrerit accumsizzle. Aenean izzle brizzle. Cool daahng dawg dolizzle, viverra you son of a bizzle, facilisizzle izzle, daahng dawg izzle, erizzle. Vestibulizzle fo shizzle ipsizzle my shizz crazy own yo' orci shiznit own yo' fo shizzle pizzle cubilia Curae; Donec dolizzle. For sure faucibizzle. Maecenas pharetra blandit boom shackalack. Fizzle dang aliquizzle dang. Sed facilisizzle. Mauris sizzle nulla, brizzle eu, nizzle mah nizzle, blandizzle i saw beyonces tizzles and my pizzle went crizzle, magna.</p>
    </article>
     <figure class="span3">
      <a href="gephi.html"><img src="{{ static_url }}/img/gephi.jpg" width="400" height="400"></a>
    </figure>
</div>
{% endblock %}
