{% extends "base.html" %}

{% block title %}Untangled: Tools{% endblock %}
{% block navbar %}{{ macros.navbar('tools') }}{% endblock %} 
{% block content %}
<div class="example row-fluid">
  <h1><img src="{{ static_url }}/img/icon_search.png" width="80">Tools</h1>
  <p>We're cataloging tools and databases that you can use to perform your own network analysis. Have another one we should include? Email us at <a href="mailto:knightlab@northwestern.edu?subject=Untangled%20Tool%20suggestion">knightlab@northwestern.edu</a></p>
</div>
<div class="example row-fluid">
  <!-- NOTE: These columns do not add up to 12 because the Bootstrap 'well's' padding isn't taking into account by the responsive grid. -->
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/neo4j.jpg" width="200" height="300"></img>
    </figure>
  
    <article class="span9">
       <h5><a href="http://www.neo4j.org/">Neo4J</a></h5>
       <p>Neo4J is a graph database that allows users to "ask and answer" data questions. It is a database that allows you to model, store, and query data in the form of a graph with nodes and relationships that you can attach properties to. After structuring your graph you can query it. The data modeling experience attempts to let users build a graph model that looks like the questions you want to ask of your domain.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/analice.png" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://analice.me/">analice.me</a></h5>
       <p> Analice.me is a platform under development for Spanish-speaking investigative reporters that automatically detects entities, performs semantic analysis and structures information to show relationships visually. It allows entities in documents to be tagged and documented using a drag and drop interface.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/i2.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://www-03.ibm.com/software/products/en/analysts-notebook/">IBM&reg; i2&reg; Analyst's Notebook&reg;</a></h5>
       <p>IBM&reg; i2&reg; Analyst's Notebook&reg; allows users to perform data analysis and visualization. It aims to help agencies and organizations leverage the information they collect by facilitating its collection, analysis and visualization to more easily discover significant information.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/gephi.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
      <h5><a href="https://gephi.org/">Gephi</a></h5>
       <p>Gephi is free, open-source software for network visualization and analysis. It runs on Windows, Macintosh and Linux. It is widely used by academic experts and analysts.</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <img class="square" src="{{ static_url }}/img/nodexl.jpg" width="400" height="400"></img>
    </figure>
    <article class="span9">
       <h5><a href="http://nodexl.codeplex.com/">NodeXL</a></h5>
       <p>NodeXL is a free, open-source template for Microsoft Excel that enables network analysis on spreadsheets.  It includes importers for Facebook pages and groups, and for Microsoft Exchange email networks.</p>

    </article>
  </div>
</div>
{% endblock %}
