{% extends "base.html" %}

{% block title %}How Social Network Analysis Could Change the Future of Reporting {% endblock %}

{% block navbar %}{{ macros.navbar() }}{% endblock %} 


  <!-- BEGIN CONTENT -->
  <div id="content" class="container">
    {% block content %}
      <div class="example row-fluid span12">

        <div class="span12" style="margin-left: 0;">
          <span class="timestamp">January 16, 2013</span>
          <h1 class="post-title">How Social Network Analysis Could Change the Future of Reporting </h1>
          <div class="info">
          <div class="post-meta meta-bottom">
            Article by </span><a href="https://twitter.com/GregJBorowski" title="Posts by Greg Borowski" rel="author">Greg Borowski</a>
            <p class="bio">Greg Borowski is currently assistant managing editor for projects and investigations at the <a href="http://www.jsonline.com/">Milwaukee Journal Sentinel </a> and editor of the newspaper&#39;s <a href="http://www.politifact.com/wisconsin/">PolitiFact Wisconsin</a> site.</p>
          </div>
          </div>

          <p>When it comes to reporting, we often understandably focus on two things: What we know and what we don&#39;t know. </p>
          <p>What we know is easy. It&#39;s all the information we have gathered, from interviews and documents to observations and data. To use that information, we have to fully understand it, toss out what is not relevant or interesting, apply context and present it in a compelling and clear manner. We know how to do all this.</p>
          <p>What we don&#39;t know is harder. It&#39;s all the questions we still have. Much of reporting is focused on getting this category smaller and the first category bigger. We largely know how to do this: Keep digging. More interviews, more sources, more documents.</p>
          <p>But there is a third category: What we don&#39;t know we don&#39;t know.</p>
          <p>Think of it as journalism&#39;s dark matter.</p>
          <p>Of course, we often turn this up by pursuing what we don&#39;t know. One question leads to another, which leads to another. Two documents when put together point out something new. Two data sets when combined reveal something fresh, original and important.</p>
          <p>Every veteran reporter has had those moments of revelation   &#8212; usually right before they run into an editor&#39;s office with that holy&#8211;cow&#8211;this&#8211;is&#8211;big look on their face.</p>
          <p>As we have started working on several <a href="http://www.jsonline.com/blogs/news/239440291.html">projects</a> in our newsroom that deal with relationships between people and groups &#8212; and trying to identify relationships that may be significant but ones we don&#39;t yet know exist &#8212; we&#39;ve spent more time thinking about whether there is a way to surface more of those relationships.</p>
          <p>Is there a tool that can make this kind of work easier for reporters? One that can, in effect, flesh out some of that dark matter in a systematic way?<p>
          <p>I think everyone can imagine what such a thing would do: A reporter plugs a bunch of information into a computer, tosses in a couple databases and a little institutional knowledge, runs a query and a question is magically answered: Who is the governor&#39;s most influential campaign contributor?</p>
          <p>To be sure, you can &#8212; and should &#8212; try to answer that question through old&#8211;fashioned shoe&#8211;leather reporting: You talk to the governor, to those you know are close to the governor, to those you think may be close to the governor. You scan and tally campaign contribution, review old clips on the governor and others.</p>
          <p>And in the end, you can produce a well&#8211;informed piece that will undoubtedly be a service to readers.</p>
          <p>But what about that name you don&#39;t recognize?  Maybe it is a person who you don&#39;t know is on the board of a corporation that employs the wife of the governor&#39;s top fund&#8211;raiser.  And that corporation may have just won a major state contract when it wasn’t the low bidder.</p>
          <p>Is there effective software that can make some of those connections for you? One that could make the connections on deadline, as soon as you knew the contract had been awarded. Or even before, as soon as the bids were filed.</p>
          <p>Now, I don&#39;t know how to build such a thing. But as a longtime reporter and editor, I think I can identify some of the hurdles and issues faced in doing so.</p>
          <ol>
          <li><p>What information do you gather? Every decision of what to include and not include becomes its own limit to the usefulness of the tool. Missing a key connection can lead to a skewed result, or no useful result. How do you identify what to include or not include?</p></li>
          <li><p>How do you keep it up to date? If you are not updating the underlying information regularly, say names of gubernatorial appointees to boards and commissions, the usefulness of the tool is progressively degraded.</p></li>
          <li><p>How do you account for institutional knowledge? It&#39;s relatively easy to put a group of existing databases together. But there is no database you can request of the governor&#39;s oldest friends. Often this information comes in bits and pieces &#8212; it resides in a reporter&#39;s head, an old notebook or even a past clip in the library.</p></li>
          <li><p>How do you tap that newsroom knowledge in a comprehensive way? Maybe the religion reporter did an item about the governor&#39;s pastor. Maybe a business reporter knows where the head of that corporation went to college. And someone else knows that the governor&#39;s top fund&#8722;raiser is on an advisory board there, because he and his wife met while in school. Any tool needs a quick and simple mechanism to pull in as much of this information as possible. Too cumbersome, and reporters won&#39;t add it. The information will just stay in notebooks and memories.
          </p></li>
          </ol>
          <p>Of course, there are many other questions and hurdles. These do not even address what a public&#8722;facing site might look like or how it would function, only what may be useful for the reporter on deadline who wants to plug in the name of the corporation and figure out why it got that major contract.</p>
          <p>And even if a tool like this existed   &#8212; something that could quickly and accurately identify various connections &#175; it is only a starting point.</p>
          <p>But it does move information out of the category of what we don&#39;t know we don&#39;t know and into the category of what we don&#39;t know but can find out. And from there, it&#39;s a whole lot easier to get it into what we do know.</p>
        </div>
      </div>
    {% endblock %}
  </div>
  <!-- END CONTENT-->

  <!-- BEGIN FOOTER -->
  <footer>
    <div class="clearfix" id="footer">
      <div id="footer-wrapper" class="row-fluid">           
        <div class="span4">
          <address itemtype="http://data-vocabulary.org/Organization" itemscope="">
            <span title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name" itemprop="name">Knight Lab</span>
            <span itemtype="http://data-vocabulary.org/Address" itemscope="" class="address" itemprop="address">
              <span class="street-address" itemprop="street-address">1845 Sheridan Road<br>Fisk #109 &amp; #111</span>, 
              <div class="address-group">
                <span itemprop="locality">Evanston, </span>
                <span itemprop="region">IL</span>. <span itemprop="postal-code">60208</span>
                <a class="map" target="_blank" href="https://maps.google.com/maps?q=1845+Sheridan+Road+Evanston+IL+6020&amp;hl=en&amp;ll=42.050942,-87.673511&amp;spn=0.003059,0.004898&amp;sll=42.050647,-87.674246&amp;sspn=0.012237,0.019591&amp;gl=us&amp;hnear=1845+Sheridan+Rd,+Evanston,+Cook,+Illinois+60201&amp;t=m&amp;z=18&amp;iwloc=A"><i>+</i> <span>map</span></a>
                <span class="address-country" itemprop="country-name">United States</span>
              </div>
            </span>
            <span itemtype="http://www.data-vocabulary.org/Geo/" itemscope="" class="geo" itemprop="geo">
                Latitude: <span itemprop="latitude">42.056893</span>
                Longitude: <span itemprop="longitude">-87.676735</span>
            </span>
            <span class="tel" itemprop="tel">(847) 467-4971</span>
            <a itemprop="url" href="http://knightlab.northwestern.edu" class="url">Northwesten University Knight Lab | Advancing media innovation through exploration and experimentation.</a> 
          </address>
          <ul class="social">
            <li><a target="_blank" title="follow @knightlab on twitter" href="http://www.twitter.com/knightlab"><i class="icon-twitter-sign icon-large"></i></a></li>
            <li><a target="_blank" title="Knight Lab on Facebook" href="https://www.facebook.com/knightlab"><i class="icon-facebook-sign icon-large"></i></a></li>
            <li><a title="email Knight Lab" href="mailto:Knightlab@northwestern.edu"><i class="icon-sign-blank icon-large iconemail"></i></a></li>
            <li><a target="_blank" title="Knight Lab on github" href="https://github.com/NUKnightLab/"><i class="icon-github-sign icon-large"></i></a></li>
            <li><a target="_blank" title="Knight Lab on Tumblr" href="http://knightlab.tumblr.com/"><i class="icon-sign-blank icon-large icontumblr"></i></a></li>
          </ul>
        </div>
        <div class="span8">
         <ul class="logos clearfix">
           <li><a title="John S. and James L. Knight Foundation" href="http://www.knightfoundation.org/" class="knightfoundation"><span>John S. and James L. Knight Foundation</span></a></li>
            <li><a title="National Science Foundation" href="http://www.nsf.gov/" class="nsf"><span>National Science Foundation</span></a></li>
            <li><a title="Robert R. McCormick Foundation" href="http://www.mccormickfoundation.org/" class="mccormickfound"><span>Robert R. McCormick Foundation</span></a></li>
            <li><a title="Northwestern University" href="http://www.northwestern.edu/" class="northwestern"><span>Northwestern University</span></a></li>
            <li><a title="McCormick School of Engineering | Northwestern University" href="http://www.mccormick.northwestern.edu/" class="mccormick"><span>McCormick School of Engineering | Northwestern University</span></a></li>
            <li><a title="Medill School of Journalism | Northwestern University" href="http://www.medill.northwestern.edu" class="medill"><span>Medill School of Journalism | Northwestern University</span></a></li>
          </ul>
          <div class="notes">
            <p><a target="_blank" href="http://www.northwestern.edu/" title="Northwestern University">Northwestern University</a> Knight Lab is a joint initiative of the <a href="http://www.mccormick.northwestern.edu/">Robert R. McCormick School of Engineering and Applied Science</a> and the<a href="http://www.medill.northwestern.edu/"> Medill School of Journalism, Media, Integrated Marketing Communications</a>.</p>
            <p>The Lab was launched and is sustained by a grant from the<a href="http://www.knightfoundation.org/"> John S. and James L. Knight Foundation</a>, with additional support from the<a href="http://www.mccormickfoundation.org/"> Robert R. McCormick Foundation</a> and the<a href="http://www.nsf.gov/"> National Science Foundation</a>.</p>
          </div>
        </div>
        <div class="copyright">
          &copy; Copyright 2013 <span title="Knight Lab">Northwestern University</span>
        </div>
      </div><!-- end #footer-wrapper -->
    </div><!-- end #footer -->
    <div id="footer-outer"></div>
  </footer>
  <!-- END FOOTER -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdn.knightlab.com/libs/blueline/latest/js/blueline.min.js"></script>
  
</body>
</html>